<div class="studentsallstudents-container">
  <div class="studentsallstudents-studentsallstudents">
    <img
      src="/assets/playground_assets/rectangle34613-nzje-200h.png"
      alt="Rectangle34613"
      class="studentsallstudents-rectangle3"
    />
    <img
      src="/assets/playground_assets/keyboardarrowright4634-qxau.svg"
      alt="keyboardarrowright4634"
      class="studentsallstudents-keyboardarrowright"
    />
    <span class="studentsallstudents-text"><span>Students</span></span>
    <span class="studentsallstudents-text002"><span>Home</span></span>
    <img
      src="/assets/playground_assets/line54617-coh.svg"
      alt="Line54617"
      class="studentsallstudents-line5"
    />
    <div class="studentsallstudents-group18">
      <img
        src="/assets/playground_assets/ellipse104625-ub8q-200h.png"
        alt="Ellipse104625"
        class="studentsallstudents-ellipse10"
      />
      <img
        src="/assets/playground_assets/arrowdropdown4625-8e8.svg"
        alt="arrowdropdown4625"
        class="studentsallstudents-arrowdropdown"
      />
    </div>
    <img
      src="/assets/playground_assets/line284626-79hr.svg"
      alt="Line284626"
      class="studentsallstudents-line28"
    />
    <img
      src="/assets/playground_assets/notificationsnone4626-qoc.svg"
      alt="notificationsnone4626"
      class="studentsallstudents-notificationsnone"
    />
    <img
      src="/assets/playground_assets/search4626-ibwg.svg"
      alt="search4626"
      class="studentsallstudents-search"
    />
    <span class="studentsallstudents-text004"><span>Search</span></span>
    <span class="studentsallstudents-text006">
    </span>
    <div>
      <img
        src="/assets/playground_assets/vector4633-sz1.svg"
        alt="Vector4633"
        class="studentsallstudents-vector"
      />
    </div>
    <span class="studentsallstudents-text008"><span>All Students</span></span>
    <img
      src="/assets/playground_assets/rectangle374634-69du-1300h.png"
      alt="Rectangle374634"
      class="studentsallstudents-rectangle37"
    />
    <img
      src="/assets/playground_assets/rectangle384634-c4h9-1100w.png"
      alt="Rectangle384634"
      class="studentsallstudents-rectangle38"
    />
    <img
      src="/assets/playground_assets/rectangle394634-90sd-1100w.png"
      alt="Rectangle394634"
      class="studentsallstudents-rectangle39"
    />
    <img
      src="/assets/playground_assets/rectangle434635-hzbd-1100w.png"
      alt="Rectangle434635"
      class="studentsallstudents-rectangle43"
    />
    <img
      src="/assets/playground_assets/rectangle474636-yfp-1100w.png"
      alt="Rectangle474636"
      class="studentsallstudents-rectangle47"
    />
    <img
      src="/assets/playground_assets/rectangle414635-lz6m-1100w.png"
      alt="Rectangle414635"
      class="studentsallstudents-rectangle41"
    />
    <img
      src="/assets/playground_assets/rectangle484636-dwe-1100w.png"
      alt="Rectangle484636"
      class="studentsallstudents-rectangle48"
    />
    <img
      src="/assets/playground_assets/rectangle444635-uh7a-1100w.png"
      alt="Rectangle444635"
      class="studentsallstudents-rectangle44"
    />
    <img
      src="/assets/playground_assets/rectangle494636-f146-1100w.png"
      alt="Rectangle494636"
      class="studentsallstudents-rectangle49"
    />
    <img
      src="/assets/playground_assets/rectangle404634-ads3-1100w.png"
      alt="Rectangle404634"
      class="studentsallstudents-rectangle40"
    />
    <img
      src="/assets/playground_assets/rectangle454635-8qf65-1100w.png"
      alt="Rectangle454635"
      class="studentsallstudents-rectangle45"
    />
    <img
      src="/assets/playground_assets/rectangle504636-f92q-1100w.png"
      alt="Rectangle504636"
      class="studentsallstudents-rectangle50"
    />
    <img
      src="/assets/playground_assets/rectangle424635-94sm-1100w.png"
      alt="Rectangle424635"
      class="studentsallstudents-rectangle42"
    />
    <img
      src="/assets/playground_assets/rectangle514636-axbd-1100w.png"
      alt="Rectangle514636"
    />
    <img
      src="/assets/playground_assets/rectangle464635-w0jn-1100w.png"
      alt="Rectangle464635"
      class="studentsallstudents-rectangle46"
    />
    <img
      src="/assets/playground_assets/rectangle524636-ept-1100w.png"
      alt="Rectangle524636"
    />
    <span class="studentsallstudents-text010"><span>22</span></span>
    <span class="studentsallstudents-text012"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text014"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text016">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text018">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text020">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text022">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text024">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text026">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text028">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text030">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text032">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text034">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text036">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text038">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text040">
      <span>59 Australia, Sydney</span>
    </span>
    <span class="studentsallstudents-text042"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text044"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text046"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text048"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text050"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text052"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text054"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text056"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text058"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text060"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text062"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text064"><span>Kofi Grant</span></span>
    <span class="studentsallstudents-text066"><span>Male</span></span>
    <span class="studentsallstudents-text068">2</span>
    <span class="studentsallstudents-text069">3</span>
    <span class="studentsallstudents-text070">5</span>
    <span class="studentsallstudents-text071">4</span>
    <span class="studentsallstudents-text072">2</span>
    <span class="studentsallstudents-text073">1</span>
    <span class="studentsallstudents-text074">1</span>
    <span class="studentsallstudents-text075">3</span>
    <span class="studentsallstudents-text076">3</span>
    <span class="studentsallstudents-text077">4</span>
    <span class="studentsallstudents-text078">4</span>
    <span class="studentsallstudents-text079">4</span>
    <span class="studentsallstudents-text080">4</span>
    <span class="studentsallstudents-text081"><span>Male</span></span>
    <span class="studentsallstudents-text083"><span>Male</span></span>
    <span class="studentsallstudents-text085"><span>Male</span></span>
    <span class="studentsallstudents-text087"><span>Male</span></span>
    <span class="studentsallstudents-text089"><span>Male</span></span>
    <span class="studentsallstudents-text091"><span>Male</span></span>
    <span class="studentsallstudents-text093"><span>Male</span></span>
    <span class="studentsallstudents-text095"><span>Male</span></span>
    <span class="studentsallstudents-text097"><span>Male</span></span>
    <span class="studentsallstudents-text099"><span>Male</span></span>
    <span class="studentsallstudents-text101"><span>Male</span></span>
    <span class="studentsallstudents-text103"><span>Male</span></span>
    <span class="studentsallstudents-text105"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text107"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text109"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text111"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text113"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text115"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text117"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text119"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text121"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text123"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text125"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text127"><span>Daniel Grant</span></span>
    <span class="studentsallstudents-text129"><span>23</span></span>
    <span class="studentsallstudents-text131"><span>24</span></span>
    <span class="studentsallstudents-text133"><span>25</span></span>
    <span class="studentsallstudents-text135"><span>26</span></span>
    <span class="studentsallstudents-text137"><span>27</span></span>
    <span class="studentsallstudents-text139"><span>28</span></span>
    <span class="studentsallstudents-text141"><span>29</span></span>
    <span class="studentsallstudents-text143"><span>30</span></span>
    <span class="studentsallstudents-text145"><span>31</span></span>
    <span class="studentsallstudents-text147"><span>32</span></span>
    <span class="studentsallstudents-text149"><span>33</span></span>
    <span class="studentsallstudents-text151"><span>34</span></span>
    <span class="studentsallstudents-text153">
      <span>All Students Data</span>
    </span>
    <img
      src="/assets/playground_assets/rectangle354637-kens-200h.png"
      alt="Rectangle354637"
      class="studentsallstudents-rectangle35"
    />
    <img
      src="/assets/playground_assets/rectangle534637-weip-200h.png"
      alt="Rectangle534637"
    />
   
    <span class="studentsallstudents-text157"><span>Select Class</span></span>
    <img
      src="/assets/playground_assets/arrowdropdown4637-6e6r.svg"
      alt="arrowdropdown4637"
      class="studentsallstudents-arrowdropdown1"
    />
    <div class="studentsallstudents-group19">
      <span class="studentsallstudents-text159"><span>SEARCH</span></span>
    </div>
    <div class="studentsallstudents-group20">
      <span class="studentsallstudents-text161">1</span>
    </div>
    <div class="studentsallstudents-group21">
      <span class="studentsallstudents-text162">2</span>
    </div>
    <div class="studentsallstudents-group22">
      <span class="studentsallstudents-text163">3</span>
    </div>
    <span class="studentsallstudents-text164"><span>Next</span></span>
    <span class="studentsallstudents-text166"><span>Previous</span></span>
    <span class="studentsallstudents-text168"><span>ID</span></span>
    <span class="studentsallstudents-text170"><span>Name</span></span>
    <span class="studentsallstudents-text172"><span>Gender</span></span>
    <span class="studentsallstudents-text174"><span>Class</span></span>
    <span class="studentsallstudents-text176"><span>Parents</span></span>
    <span class="studentsallstudents-text178"><span>Address</span></span>
    <span class="studentsallstudents-text180"><span>Date of Birth</span></span>
    <span class="studentsallstudents-text182"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text184"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text186"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text188"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text190"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text192"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text194"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text196"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text198"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text200"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text202"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text204"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text206"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text208"><span>+ 123 9988568</span></span>
    <span class="studentsallstudents-text210"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text212"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text214"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text216"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text218"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text220"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text222"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text224"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text226"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text228"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text230"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text232"><span>02/05/2001</span></span>
    <span class="studentsallstudents-text234"><span>Phone</span></span>
    <div class="studentsallstudents-frame10">
      <div class="studentsallstudents-group178">
        <div class="studentsallstudents-group154">
          <div class="studentsallstudents-group1">
            <img
              src="/assets/playground_assets/rectangle18410-13lm-300w.png"
              alt="Rectangle18410"
              class="studentsallstudents-rectangle1"
            />
            <img
              src="/assets/playground_assets/rectangle28410-bpon-200h.png"
              alt="Rectangle28410"
              class="studentsallstudents-rectangle2"
            />
          </div>
          <div class="studentsallstudents-group47">
            <img
              src="/assets/playground_assets/rectangle58420-mr2m-200h.png"
              alt="Rectangle58420"
              class="studentsallstudents-rectangle5"
            />
            <span class="studentsallstudents-text236">
              <span>Dashboard</span>
            </span>
            <img
              src="/assets/playground_assets/avtimer8420-rehf.svg"
              alt="avtimer8420"
              class="studentsallstudents-avtimer"
            />
          </div>
          <div class="studentsallstudents-group46">
            <img
              src="/assets/playground_assets/rectangle58410-jyep-200h.png"
              alt="Rectangle58410"
              class="studentsallstudents-rectangle51"
            />
            <span class="studentsallstudents-text238">
              <span>Parents</span>
            </span>
            <img
              src="/assets/playground_assets/people8411-27jx.svg"
              alt="people8411"
              class="studentsallstudents-people"
            />
          </div>
          <img
            src="/assets/playground_assets/rectangle48413-fsi-200h.png"
            alt="Rectangle48413"
            class="studentsallstudents-rectangle4"
          />
          <img
            src="/assets/playground_assets/rectangle81171-829b-200h.png"
            alt="Rectangle81171"
            class="studentsallstudents-rectangle8"
          />
          <img
            src="/assets/playground_assets/rectangle91171-yu5r-200h.png"
            alt="Rectangle91171"
            class="studentsallstudents-rectangle9"
          />
          <div class="studentsallstudents-group45">
            <img
              src="/assets/playground_assets/rectangle58411-tse-200h.png"
              alt="Rectangle58411"
              class="studentsallstudents-rectangle52"
            />
           
            <div class="studentsallstudents-openbook11">
              <div class="studentsallstudents-group">
                <div class="studentsallstudents-group01">
                  <div class="studentsallstudents-group02">
                    <img
                      src="/assets/playground_assets/vector8412-nwu.svg"
                      alt="Vector8412"
                      class="studentsallstudents-vector01"
                    />
                    <img
                      src="/assets/playground_assets/vector8412-6xpch.svg"
                      alt="Vector8412"
                      class="studentsallstudents-vector02"
                    />
                    <img
                      src="/assets/playground_assets/vector8412-1va.svg"
                      alt="Vector8412"
                      class="studentsallstudents-vector03"
                    />
                    <img
                      src="/assets/playground_assets/vector8412-6hu.svg"
                      alt="Vector8412"
                      class="studentsallstudents-vector04"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img
            src="/assets/playground_assets/rectangle7855-z4s-200h.png"
            alt="Rectangle7855"
            class="studentsallstudents-rectangle7"
          />
          <img
            src="/assets/playground_assets/rectangle58413-j0kl-200h.png"
            alt="Rectangle58413"
            class="studentsallstudents-rectangle53"
          />
          <span class="studentsallstudents-text242">
            <span>All Students</span>
          </span>
          <span class="studentsallstudents-text244">
            <span>Students Promotion</span>
          </span>
          <span class="studentsallstudents-text246">
            <span>Add Students</span>
          </span>
          <img
            src="/assets/playground_assets/keyboardarrowright851-xtes.svg"
            alt="keyboardarrowright851"
            class="studentsallstudents-keyboardarrowright1"
          />
          <img
            src="/assets/playground_assets/keyboardarrowright857-v10k.svg"
            alt="keyboardarrowright857"
            class="studentsallstudents-keyboardarrowright2"
          />
          <img
            src="/assets/playground_assets/keyboardarrowright8515-3pnv.svg"
            alt="keyboardarrowright8515"
            class="studentsallstudents-keyboardarrowright3"
          />
          <div class="studentsallstudents-group188">
            <span class="studentsallstudents-text248">
              <span>Students</span>
            </span>
            <img
              src="/assets/playground_assets/keyboardarrowright8413-kygp.svg"
              alt="keyboardarrowright8413"
              class="studentsallstudents-keyboardarrowright4"
            />
            <div class="studentsallstudents-students1">
              <div class="studentsallstudents-group03">
                <div class="studentsallstudents-group04">
                  <img
                    src="/assets/playground_assets/vector8413-nw86.svg"
                    alt="Vector8413"
                    class="studentsallstudents-vector05"
                  />
                </div>
              </div>
              <div class="studentsallstudents-group05">
                <div class="studentsallstudents-group06">
                  <img
                    src="/assets/playground_assets/vector8414-7d19.svg"
                    alt="Vector8414"
                    class="studentsallstudents-vector06"
                  />
                </div>
              </div>
              <div class="studentsallstudents-group07">
                <div class="studentsallstudents-group08">
                  <img
                    src="/assets/playground_assets/vector8414-tte.svg"
                    alt="Vector8414"
                    class="studentsallstudents-vector07"
                  />
                </div>
              </div>
              <div class="studentsallstudents-group09">
                <div class="studentsallstudents-group10">
                  <img
                    src="/assets/playground_assets/vector8414-yxhk.svg"
                    alt="Vector8414"
                    class="studentsallstudents-vector08"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="studentsallstudents-group43">
            <img
              src="/assets/playground_assets/rectangle58415-6ufr-200h.png"
              alt="Rectangle58415"
              class="studentsallstudents-rectangle54"
            />
            <span class="studentsallstudents-text250">
              <span>Account</span>
            </span>
            <img
              src="/assets/playground_assets/keyboardarrowright8415-ioi.svg"
              alt="keyboardarrowright8415"
              class="studentsallstudents-keyboardarrowright5"
            />
            <div class="studentsallstudents-group6">
              <img
                src="/assets/playground_assets/vector8415-8b4r.svg"
                alt="Vector8415"
                class="studentsallstudents-vector09"
              />
              <img
                src="/assets/playground_assets/vector8415-kgrh.svg"
                alt="Vector8415"
                class="studentsallstudents-vector10"
              />
              <img
                src="/assets/playground_assets/vector8415-btzs.svg"
                alt="Vector8415"
                class="studentsallstudents-vector11"
              />
              <img
                src="/assets/playground_assets/vector8416-o5ea.svg"
                alt="Vector8416"
                class="studentsallstudents-vector12"
              />
              <img
                src="/assets/playground_assets/vector8416-tbus.svg"
                alt="Vector8416"
                class="studentsallstudents-vector13"
              />
              <img
                src="/assets/playground_assets/vector8416-mllk.svg"
                alt="Vector8416"
                class="studentsallstudents-vector14"
              />
              <div class="studentsallstudents-group11">
                <img
                  src="/assets/playground_assets/vector8416-am5q.svg"
                  alt="Vector8416"
                  class="studentsallstudents-vector15"
                />
                <img
                  src="/assets/playground_assets/vector8416-sk4.svg"
                  alt="Vector8416"
                  class="studentsallstudents-vector16"
                />
              </div>
              <img
                src="/assets/playground_assets/vector8416-26eh.svg"
                alt="Vector8416"
                class="studentsallstudents-vector17"
              />
            </div>
          </div>
          <div class="studentsallstudents-group42">
            <img
              src="/assets/playground_assets/rectangle58416-oph-200h.png"
              alt="Rectangle58416"
              class="studentsallstudents-rectangle55"
            />
            <span class="studentsallstudents-text252">
              <span>Teachers</span>
            </span>
            <img
              src="/assets/playground_assets/keyboardarrowright8417-uohr.svg"
              alt="keyboardarrowright8417"
              class="studentsallstudents-keyboardarrowright6"
            />
            <img
              src="/assets/playground_assets/vector8417-wbv.svg"
              alt="Vector8417"
              class="studentsallstudents-vector18"
            />
          </div>
          <div class="studentsallstudents-group41">
            <img
              src="/assets/playground_assets/rectangle58417-sgsf-200h.png"
              alt="Rectangle58417"
              class="studentsallstudents-rectangle56"
            />
            <span class="studentsallstudents-text254">
              <span>Settings</span>
            </span>
            <img
              src="/assets/playground_assets/settings8417-rgv.svg"
              alt="settings8417"
              class="studentsallstudents-settings"
            />
          </div>
          <div class="studentsallstudents-group65">
            <img
              src="/assets/playground_assets/vector8418-q18.svg"
              alt="Vector8418"
              class="studentsallstudents-vector19"
            />
          </div>
          <img
            src="/assets/playground_assets/whatsappimage20210604at133718418-7i7j-200w.png"
            alt="WhatsAppImage20210604at133718418"
            class="studentsallstudents-whats-app-image20210604at13371"
          />
        </div>
      </div>
    </div>
  </div>
</div>
